:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* TYPOGRAPHY */
body {
  margin: 0 auto;
  max-width: 50em;
  min-width: 20em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.41421em;
}
