@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p {
  margin-block-end: 0.5em;
  margin-block-start: 1em;
}

:root {
  --font: system-ui, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size-extra-small: clamp(0.7071rem, 0.6629rem + 0.221vw, 0.8839rem);
  --font-size-small: clamp(0.8409rem, 0.7883rem + 0.2628vw, 1.0511rem);
  --font-size-medium: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
  --font-size-large: clamp(1.1892rem, 1.0446rem + 0.7232vw, 1.7678rem);
  --font-size-extra-large: clamp(1.4142rem, 1.1428rem + 1.3572vw, 2.5rem);
  --font-size-title: clamp(1.6818rem, 1.2184rem + 2.3172vw, 3.5355rem);
  --font-size-large-title: clamp(2rem, 1.25rem + 3.75vw, 5rem);
  --line-height-regular: 1.5;
  --measure: 66ch;

  font-family: var(--font);
  font-size: var(--font-size-0);
  line-height: var(--line-height-regular);
}

body {
  margin: 0 auto;
  max-width: var(--measure);
  padding: 0 var(--font-size-medium);
}

h1 {
  font-size: var(--font-size-large-title);
  line-height: 1;
}

h2 {
  font-size: var(--font-size-title);
}

h3 {
  font-size: var(--font-size-extra-large);
}

h4, h5, h6 {
  font-size: var(--font-size-large);
}
